.fadeOut {
    animation:fadeOut 0.4s linear forwards;
}
@keyframes fadeOut {
    0%{
        opacity:1;
        filter:blur(0);
    }
    100%{
        opacity:0;
        filter:blur(10px);
    }
}

.fadeIn {
    animation:fadeIn 0.4s linear forwards;
}
@keyframes fadeIn {
    0%{
        opacity:0;
        filter:blur(10px);
    }
    100%{
        opacity:1;
        filter:blur(0);
    }
}

.fadeInIntro {
    animation:fadeIn 1s linear forwards;
}
