$transition:0.3s;

.lightMode {
    color:$colorTextLight;
    background-color:$colorBackgroundLight;
    transition:$transition;
}

.darkMode {
    color:$colorTextDark;
    background-color:$colorBackgroundDark;
    transition:$transition;
}

.headerAfterLight::after {
    background: linear-gradient(180deg, $colorBackgroundLight 0%, rgba(0, 0, 0, 0) 100%);
    transition:$transition;
}

.headerAfterDark::after {
    background: linear-gradient(180deg, $colorBackgroundDark 0%, rgba(0, 0, 0, 0) 100%);
    transition:$transition;
}

.imgBackground {
    transition:$transition;
}

.imgLightMode {
    filter:brightness(600%) contrast(40%) !important;
}

.imgDarkMode {
    filter:brightness(90%) contrast(110%) !important;
}
.svgToWhite{
    color:#000;
    filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(355deg) brightness(101%) contrast(101%);
}

.svgToBlack {
    color:#fff;
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(207deg) brightness(106%) contrast(102%);
}