footer {
    z-index: 100;
    color:$colorText;
    background-color: $colorBackground;
    //max-height: 65%;
    padding: 20px;
    text-align: center;
    display: block;
    

    h3 {
        font-size: 25px;
    }

    li {
        list-style-type: none;
    }

    a {
        text-decoration: none;
        //color: #5a5a5a;
        transition: 0.2s ease;
        font-size: 20px;
        padding: 5px;

        &:hover{
            color: #949494;
        }
    }

    .social_media {

        ul {
            padding-inline-start: 0;

            li {
                display: inline;

                a {

                    transition: 0.4s ease;

                    &:hover {
                        transform: scale(1.2);
                    }
                    &:link {
                        color:$colorText;
                    }
                    &:visited {
                        color:$colorText;
                    }
                }
            }
        }
    }

    .location {
        a {
            &:hover {
                transform: scale(1.2);
                box-shadow: 0px 2px 0px 0px;
            }
            &:link {
                color:$colorText;
            }
            &:visited {
                color:$colorText;
            }
        }
    }

    .policy_links {
        ul {
            padding-inline-start: 0;

            a {
                &:hover {
                    transform: scale(1.2);
                    box-shadow: 0px 2px 0px 0px;
                }
                &:link {
                    color:$colorText;
                }
                &:visited {
                    color:$colorText;
                }
            }
        }
    }

    .github_contributors {
        padding-top: 10px;
        ul {
            padding-inline-start: 0;

            a {
                transition: 0.4s ease;
                font-size: 35px;

                &:hover {
                    transform: scale(1.5);
                }
                &:link {
                    color:$colorText;
                }
                &:visited {
                    color:$colorText;
                }
            }
        }
    }
}

