@use "variables";

header{
    color:$colorText;
    background-color: $colorBackground;
    height: 5dvh;
    width:100%;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    @include responsive(960px){
        
        height: 9dvh;
    }
        

    &::after {
        content:"";
        position: absolute;
        bottom:-30px;
        left:0;
        background: linear-gradient(180deg, $colorBackground 0%, rgba(0, 0, 0, 0) 100%);
        @include box(100%,30px);
    }

    section {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 2%;
        img{
            padding: auto;
            height: 75%;
        }
        h2{
            margin-left: 2%;
            white-space: nowrap;
            //padding: 1%;
            font: {
                family :'syncopate';
                size : 0.8em;
            } 
            @include responsive(960px){
                font-size: 1.6em;
            }           
        }//end h2
        
    }//end section logoAndTitle
    
    nav{
        width: auto;
        height: 100%;
        margin-right: 2%;
        display: grid;
        align-items: center;
        grid-template-columns: 15dvw 10dvw;
        justify-items: center;
        justify-self: end;
        @include responsive(960px){
            grid-template-columns: 1fr 4fr;
        }    
        #navButton{
            height: 80%;
            max-height: 4dvh;
            border : none;
            border-radius: 8px;
            background-color: rgba(255, 255, 255, 0.2537);
            img{
                width: auto;
                max-height: 75%;
                @include responsive(960px){
                    display: none;
                }
            }
        }    
        ul{
            display:none;
            
            @include responsive(960px){
                list-style: none;
                display:grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-template-rows: 9dvh;
                align-items: center;
                text-wrap: nowrap;
            }

            li{
                justify-self: center;
                color: black;
                background-color: rgba(255, 255, 255, 0.2537);
                min-width: 100px;
                text-align: center;
                padding: 4% 8%;
                margin: 1dvw;
                border-radius: 30px;
                cursor: pointer;
                font-family: "barlow";
                font-size: 1em;
                transition: 0.3s;
                
            }//end li
            li:hover{
                    background: rgba(255, 255, 255, 0.40);
                    font-family: 'nanumPenScript';
                    transform: scale(1.2);
                }
        }//end ul
        .darkModeDiv{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        justify-content: center;
        width: auto;
        max-width: 120px;
        input {
        justify-self: center;
        }
        img{
            max-height: 15px;
        }

    }
    }//end nav
    
    
    
    /* Default */
    .theme__toggle,
    .theme__toggle:before {
	    display: block;
    }
    .theme__toggle {
	    background-color: rgba(255, 255, 255, 0.40);
    	border-radius: 25% / 50%;
	    box-shadow: 0 0 0 0.125em rgba(255, 255, 255, 0.55);
    	padding: 0.17em;
	    width:1em ;
        height: 0.5em;
	    -webkit-appearance: none;
	    appearance: none;
    }
    .theme__toggle:before {
	    background-color: $colorBackground;
    	border-radius: 50%;
    	content: "";
    	width: 50%;
    	height: 100%;
    }
    /* Checked */
    .theme__toggle:checked {
    	/* modifie background color */
    	background-color: rgba(255, 255, 255, 0.40);
    }
    .theme__toggle:checked:before,
    .theme__toggle:checked ~ .theme__icon {
    	/* move the circle */
        transform: translate(0.4em)
        
    }
    .theme__toggle:checked:before {
    	/* change circle color */
    	background-color: $colorBackground;
    }
    
}//end header

