@use "extends";

main {
    height: 100vh;


    #home {
        @include box(100%);

        div {
            position: relative;
            @include box(100%);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
                background: #ffffff;
                position:absolute;
                top:0;
                left:0;
                @include box(100%);
                object-fit: cover;
                object-position: 50% 65%;
                filter:brightness(300%) contrast(40%);
            }

            h1 {
                z-index: 2;
                font-family: 'syncopateBold';
                font-size: 6vw;
                //color:$colorText;
                text-shadow: 0px 0px 8px $colorBackground;
            }

            p {
                z-index: 2;
                font-family: 'nanumPenScript';
                font-size: 4vw;
                //color:$colorText;
                text-shadow: 0px 0px 8px $colorBackground;
            }

            article {
                z-index: 2;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                margin-top: 5%;

                p {
                    @include box(50%, auto);
                    font-family: 'barlow';
                    font-size: 1.8vw;
                    text-align: justify;
                    //background-color: white;
                    padding:3%;
                    border-radius: 25px;
                }
            }
        }
    }

    #menu {
        background-color: white;
        height: auto;
        width: 100%;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        .menu-and-articles {
            display: flex;
            flex-direction: column;
            align-items: center;
            .category-menu {
                margin-top: 15vh;
                padding: 2.5rem;
                // border: 1px solid $colorBackground;
                box-shadow: $boxShadowDuPuissantDenisLePlusFortLePlusIntelligent;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: $colorBackground;
                border-radius: 10px;
                &:hover {
                    box-shadow: 0 1px 3px 2px $colorBackgroundDark;
                    transition: all 0.2s;
                }
                h2 {
                    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);;
                }
                ul {
                    list-style: none;
                    padding: 0;
                    li {
                        display: inline-block;
                        cursor: pointer;
                        font-size: 20px;
                        margin: 0 0.5rem;
                        &:hover {
                            color: purple;
                            transition: all 0.2s;
                            transform: scale(1.1);
                        }
                        &.active-li {
                            color: purple;
                        }
                    }
                }
            }
            .list-articles {
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                article {
                    height: 35rem;
                    width: 25rem;
                    background-color: $colorBackground;
                    margin: 1rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border-radius: 10px;
                    box-shadow: $boxShadowDuPuissantDenisLePlusFortLePlusIntelligent;
                    // &:hover {
                    //     box-shadow: 0 1px 3px 2px $colorBackgroundDark;
                    //     transition: all 0.2s;
                    // }
                    * {
                        max-width: 80%;
                    }
                    h3 {
                        margin: 1rem;
                    }
                    img {
                        height: 10rem;
                        width: 20rem;
                        object-fit: cover;
                        &:hover {
                            box-shadow: 0 1px 3px 2px $colorBackgroundDark;
                            transition: all 0.2s;
                            transform: scale(1.1);
                        }
                    }
                    .category-and-price-of-article {
                        margin: 1rem;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        width: 90%;
                        
                    }
                    .description-of-article {
                        height: 13rem;
                        overflow-y: auto;
                    }
                    input {
                        margin: 1rem;
                        border: 1px solid $colorBackgroundDark;
                        border-radius: 3px;
                        cursor: pointer;
                        box-shadow: $boxShadowDuPuissantDenisLePlusFortLePlusIntelligent;
                        &:hover {
                            box-shadow: 0 1px 3px 2px $colorBackgroundDark;
                            color: purple;
                            transition: all 0.2s;
                        }
                    }
                }
            }
        }
    }

    #cart {
        .cart-content {
            // padding-top: 15vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid $colorBackground;
            box-shadow: $boxShadowDuPuissantDenisLePlusFortLePlusIntelligent;
            width: 20rem;
            // margin: auto;
            border-radius: 10px;
            position: absolute;
            left: calc(50% - 10rem);
            top: 40%;
            &:hover {
                box-shadow: 0 1px 3px 2px $colorBackgroundDark;
                transition: all 0.2s;
            }
            h2 {
                text-decoration: underline;
            }
            ul {
                list-style: none;
                margin: 1rem;
                li {
                    margin: 0.5rem;
                    input {
                        width: 4rem;
                        padding: 5px;
                        border: 1px solid #ccc;
                        border-radius: 3px;
                        text-align: center;
                    }
                }
            }
        }   
    }

    #about {
        @include box(100%);

        div {
            position: relative;
            @include box(100%);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
                position: absolute;
                top: 0;
                left: 0;
                @include box(100%);
                object-fit: cover;
                object-position: 50% 80%;
                filter: brightness(65%) contrast(100%) saturate(150%);
            }

            p {
                z-index: 2;
                font-family: 'nanumPenScript';
                font-size: 4vw;
                //color:$colorText;
                text-shadow: 0px 0px 8px $colorBackground;
            }

            h2 {
                z-index: 2;
                font-family: 'syncopateBold';
                font-size: 4vw;
                //color:$colorText;
                text-shadow: 0px 0px 8px $colorBackground;
            }

            h3 {
                z-index: 2;
                font-family: 'syncopateBold';
                font-size: 2vw;
                //color: $colorText;
                text-shadow: 0px 0px 8px $colorBackground;
                padding-bottom: 10px;
            }

            H4 {
                font-family: 'syncopateBold';
                font-size: 2vw;
                //color: $homeTitle;
                //text-shadow: 0px 0px 8px $homeTitleShadow;

            }

            iframe {
                padding-bottom: 10px;
            }
        }

        .team_about {
            display: flex;
            flex-direction: row;

            .team_name_link {
                p {
                    padding-right: 50px;
                    padding-left: 50px;
                    text-align: center;
                }

                a {
                    text-decoration: none;
                    transition: 0.4s ease;
                    font-size: 35px;
                    color: rgb(158, 158, 158);
                    padding-bottom: 30px;

                    &:hover {
                        transform: scale(1.2);
                        color: rgb(213, 213, 213);
                    }
                }
            }
        }
    }
}

    
