//COLORS:
$colorTextDark:#c4c7be;
$colorTextLight:#17170F;
$colorBackgroundLight:#927a67;
$colorBackgroundDark:#583E31;
$grey:#8B8D87;
$brown:#583E31;

$colorText:#17170F;
$colorBackground:#927a67;

$boxShadowDuPuissantDenisLePlusFortLePlusIntelligent: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
0 1px 3px 1px rgba(60, 64, 67, 0.15);