/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
}

/*
    3. Allow percentage-based heights in the application
  */
html {
  height: 100%;
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: "syncopate";
  src: url("../fonts/Syncopate-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "syncopateBold";
  src: url("../fonts/Syncopate-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "nanumPenScript";
  src: url("../fonts/NanumPenScript-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "barlow";
  src: url("../fonts/Barlow-Regular.ttf") format("truetype");
}
body {
  font-family: "barlow";
}

.fadeOut {
  animation: fadeOut 0.4s linear forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    filter: blur(0);
  }
  100% {
    opacity: 0;
    filter: blur(10px);
  }
}
.fadeIn {
  animation: fadeIn 0.4s linear forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
.fadeInIntro {
  animation: fadeIn 1s linear forwards;
}

.lightMode {
  color: #17170F;
  background-color: #927a67;
}

.darkMode {
  color: #c4c7be;
  background-color: #583E31;
}

.headerAfterLight::after {
  background: linear-gradient(180deg, #927a67 0%, rgba(0, 0, 0, 0) 100%);
}

.headerAfterDark::after {
  background: linear-gradient(180deg, #583E31 0%, rgba(0, 0, 0, 0) 100%);
}

.imgBackground {
  transition: 0.3s;
}

.imgLightMode {
  filter: brightness(300%) contrast(40%) !important;
}

.imgDarkMode {
  filter: brightness(90%) contrast(110%) !important;
}

.svgToWhite {
  color: #000;
  filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(355deg) brightness(101%) contrast(101%);
}

.svgToBlack {
  color: #fff;
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(207deg) brightness(106%) contrast(102%);
}

header {
  color: #17170F;
  background-color: #927a67;
  height: 9dvh;
  width: 100%;
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  /* Default */
  /* Checked */
}
header::after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  background: linear-gradient(180deg, #927a67 0%, rgba(0, 0, 0, 0) 100%);
  width: 100%;
  height: 30px;
}
header section {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2%;
}
header section img {
  padding: auto;
  height: 75%;
}
header section h2 {
  margin-left: 2%;
  white-space: nowrap;
  font-family: "syncopate";
  font-size: 1.6em;
}
header nav {
  width: 45%;
  margin-right: 2%;
}
header nav ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 9dvh;
  align-items: center;
  text-wrap: nowrap;
}
header nav ul li {
  justify-self: center;
  color: black;
  background-color: rgba(255, 255, 255, 0.2537);
  padding: 4% 8%;
  margin: 1dvw;
  border-radius: 30px;
  cursor: pointer;
  font-family: "barlow";
  font-size: 1em;
  transition: 0.3s;
}
header nav ul li:hover {
  background: rgba(255, 255, 255, 0.4);
  font-family: "nanumPenScript";
  font-size: 1.4em;
}
header .darkModeDiv {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  width: 20%;
  max-width: 120px;
}
header .darkModeDiv input {
  justify-self: center;
}
header .theme__toggle,
header .theme__toggle:before {
  display: block;
}
header .theme__toggle {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 25%/50%;
  box-shadow: 0 0 0 0.125em rgba(255, 255, 255, 0.55);
  padding: 0.17em;
  width: 3em;
  height: 1.5em;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}
header .theme__toggle:before {
  background-color: #927a67;
  border-radius: 50%;
  content: "";
  width: 50%;
  height: 100%;
}
header .theme__toggle:checked {
  /* modifie background color */
  background-color: rgba(255, 255, 255, 0.4);
}
header .theme__toggle:checked:before,
header .theme__toggle:checked ~ .theme__icon {
  /* move the circle */
  transform: translateX(1.25em);
}
header .theme__toggle:checked:before {
  /* change circle color */
  background-color: #927a67;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexCenterAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flexCenterColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexCenterColumnAround {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.flexCenterColumnBetween {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main {
  height: 100vh;
}
main #home {
  width: 100%;
  height: 100%;
}
main #home div {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main #home div img {
  background: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 65%;
     object-position: 50% 65%;
  filter: brightness(300%) contrast(40%);
}
main #home div h1 {
  z-index: 2;
  font-family: "syncopateBold";
  font-size: 6vw;
  text-shadow: 0px 0px 8px #927a67;
}
main #home div p {
  z-index: 2;
  font-family: "nanumPenScript";
  font-size: 4vw;
  text-shadow: 0px 0px 8px #927a67;
}
main #home div article {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}
main #home div article p {
  width: 50%;
  height: auto;
  font-family: "barlow";
  font-size: 1.8vw;
  text-align: justify;
  padding: 3%;
  border-radius: 25px;
}
main #menu {
  background-color: aqua;
  height: auto;
  width: 100%;
}
main #menu .menu-and-articles {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main #menu .menu-and-articles .category-menu {
  padding-top: 10vh;
}
main #menu .menu-and-articles .category-menu ul {
  list-style: none;
}
main #menu .menu-and-articles .category-menu ul li {
  display: inline-block;
}
main #menu .menu-and-articles .list-articles {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
main #menu .menu-and-articles .list-articles article {
  height: 35rem;
  width: 25rem;
  background-color: red;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main #menu .menu-and-articles .list-articles article * {
  max-width: 80%;
}
main #menu .menu-and-articles .list-articles article h3 {
  margin: 1rem;
}
main #menu .menu-and-articles .list-articles article img {
  height: 10rem;
  width: 20rem;
}
main #menu .menu-and-articles .list-articles article .category-and-price-of-article {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}
main #menu .menu-and-articles .list-articles article .description-of-article {
  height: 13rem;
  overflow-y: auto;
}
main #menu .menu-and-articles .list-articles article input {
  margin: 1rem;
}
main #cart .cart-content {
  padding-top: 10vh;
}
main #about {
  width: 100%;
  height: 100%;
}
main #about div {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main #about div img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 80%;
     object-position: 50% 80%;
  filter: brightness(65%) contrast(100%) saturate(150%);
}
main #about div p {
  z-index: 2;
  font-family: "nanumPenScript";
  font-size: 4vw;
  text-shadow: 0px 0px 8px #927a67;
}
main #about div h2 {
  z-index: 2;
  font-family: "syncopateBold";
  font-size: 4vw;
  text-shadow: 0px 0px 8px #927a67;
}
main #about div h3 {
  z-index: 2;
  font-family: "syncopateBold";
  font-size: 2vw;
  text-shadow: 0px 0px 8px #927a67;
  padding-bottom: 10px;
}
main #about div H4 {
  font-family: "syncopateBold";
  font-size: 2vw;
}
main #about div iframe {
  padding-bottom: 10px;
}
main #about .team_about {
  display: flex;
  flex-direction: row;
}
main #about .team_about .team_name_link p {
  padding-right: 50px;
  padding-left: 50px;
  text-align: center;
}
main #about .team_about .team_name_link a {
  text-decoration: none;
  transition: 0.4s ease;
  font-size: 35px;
  color: rgb(158, 158, 158);
  padding-bottom: 30px;
}
main #about .team_about .team_name_link a:hover {
  transform: scale(1.2);
  color: rgb(213, 213, 213);
}

footer {
  color: #17170F;
  background-color: #927a67;
  max-height: 65%;
  padding-bottom: 20px;
  text-align: center;
}
footer h3 {
  padding-left: 20px;
  padding-top: 10px;
  font-size: 25px;
}
footer li {
  list-style-type: none;
}
footer a {
  text-decoration: none;
  color: grey;
  transition: 0.2s ease;
  font-size: 20px;
  padding: 5px;
}
footer .social_media ul {
  padding-right: 20px;
  padding-left: 50px;
}
footer .social_media ul li {
  display: inline;
}
footer .social_media ul li a {
  transition: 0.4s ease;
}
footer .social_media ul li a:hover {
  transform: scale(1.2);
}
footer .location p {
  padding-left: 20px;
}
footer .location a:hover {
  transform: scale(1.2);
  box-shadow: 0px 2px 0px 0px;
}
footer .policy_links a:hover {
  transform: scale(1.2);
  box-shadow: 0px 2px 0px 0px;
}
footer .github_contributors {
  padding-top: 10px;
}
footer .github_contributors a {
  padding-right: 10px;
  transition: 0.4s ease;
  font-size: 35px;
}
footer .github_contributors a:hover {
  transform: scale(1.5);
}/*# sourceMappingURL=style.css.map */